#! /usr/bin/env bash

##########################################
# DO NOT MAKE LOCAL CHANGES TO THIS FILE #
#                                        #
# Vars in this file can be overridden by #
# exporting them in .envrc.local         #
##########################################

# Add local paths for binaries and scripts
PATH_add ./bin
PATH_add ./scripts

#####################
# AWS Configuration #
#####################

# Set profile for command-line tools (aws, chamber, etc.)
export AWS_PROFILE=defensedigitalservice-dev

# Have aws-vault use the login keychain for better timeout behavior
export AWS_VAULT_KEYCHAIN_NAME=login

# Make Chamber read ~/.aws/config
export AWS_SDK_LOAD_CONFIG=1

# Make Chamber use the default AWS KMS key
export CHAMBER_KMS_KEY_ALIAS='alias/aws/ssm'

# Make Chamber use path based keys ('/' instead of '.')
export CHAMBER_USE_PATHS=1

##############################################
# Load Local Overrides and Check Environment #
##############################################

# Load a local overrides file. Any changes you want to make for your local
# environment should live in that file.

if [ -e .envrc.local ]
then
  source_env .envrc.local
fi
