DB_HOST=db
POSTGRES_USER=crossfeed
POSTGRES_PASSWORD=password
JWT_SECRET=supersecret
APP_PASSWORD=password
REACT_APP_API_URL=http://localhost:3000
REACT_APP_USER_POOL_ID=us-west-2_jFr7nh5qn
REACT_APP_USER_POOL_WEB_CLIENT_ID=65uf7k8kb865f0haliltf6h99n
REACT_APP_RECAPTCHA_CLIENT_KEY=6LdE76gZAAAAAHVYhKyorCbfPMfIxrwl7G5MzxtA
BD_API_KEY=
HO_API_KEY=
