.root {
  max-width: 1400px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    padding: 1rem 1rem;
  }
  @media screen and (min-width: 640px) {
    padding: 1rem 1.5rem;
  }
  @media screen and (min-width: 1024px) {
    padding: 1rem 2rem;
  }
}

.headerRow {
  padding: 0.5rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  flex-wrap: wrap;

  @media screen and (min-width: 640px) {
    font-size: 1.5rem;
  }

  label {
    flex: 1 0 100%;
    font-weight: bolder;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;

    @media screen and (min-width: 640px) {
      flex: 0 0 220px;
      padding: 0;
    }

    svg {
      margin-right: 1rem;
    }
  }

  span {
    display: block;
    flex: 1 1 auto;
    margin-left: calc(1rem + 20px);

    @media screen and (min-width: 640px) {
      margin-left: calc(1rem + 20px);
    }

    @media screen and (min-width: 1024px) {
      margin-left: 0;
    }
  }
}

.section {
  margin: 3rem 0;
}
