service: crossfeed

frameworkVersion: '3'
useDotenv: true
configValidationMode: error

custom:
  webpack:
    webpackConfig: 'webpack.backend.config.js'
  customDomain:
    domainName: ${file(env.yml):${self:provider.stage}.DOMAIN, ''}
    basePath: ''
    certificateName: ${file(env.yml):${self:provider.stage}.DOMAIN, ''}
    stage: ${self:provider.stage}
    createRoute53Record: false

provider:
  name: aws
  region: us-gov-east-1
  endpointType: PRIVATE
  runtime: nodejs16.x
  timeout: 30
  stage: ${opt:stage, 'dev'}
  environment: ${file(env.yml):${self:provider.stage}, ''}
  vpc: ${file(env.yml):${self:provider.stage}-vpc, ''}
  vpcEndpointIds:
    - ${file(env.yml):${self:provider.stage}.VPC_ENDPOINT, ''}
  apiGateway:
    binaryMediaTypes:
      - 'image/*'
      - 'font/*'
    resourcePolicy:
      - Effect: Deny
        Principal: '*'
        Action: 'execute-api:Invoke'
        Resource: 'execute-api:/${self:provider.stage}/*/*'
        Condition:
          StringNotEquals:
            'aws:sourceVpce': ${file(env.yml):${self:provider.stage}.VPC_ENDPOINT, ''}
      - Effect: Allow
        Principal: '*'
        Action: 'execute-api:Invoke'
        Resource: 'execute-api:/${self:provider.stage}/*/*'
  logs:
    restApi: true
  deploymentBucket:
    serverSideEncryption: AES256
  iam:
    role:
      statements:
        # TODO: make the resources more specific.
        - Effect: Allow
          Action:
            - lambda:InvokeAsync
            - lambda:InvokeFunction
          Resource: '*'
        - Effect: Allow
          Action:
            - ecs:RunTask
            - ecs:ListTasks
            - iam:PassRole
            - logs:GetLogEvents
          Resource: '*'
        - Effect: Allow
          Action:
            - ses:SendRawEmail
            - ses:SendEmail
          Resource: '*'
        - Effect: Allow
          Action:
            - s3:GetObject
            - s3:GetObjectAcl
            - s3:PutObject
            - s3:PutObjectAcl
          Resource: '*'

functions:
  - ${file(./src/tasks/functions.yml)}
  - ${file(./src/api/functions.yml)}

plugins:
  - serverless-better-credentials
  - serverless-domain-manager
  - serverless-webpack
