.root {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  :global .usa-banner {
    background-color: #fff;

    .usa-banner__inner {
      max-width: 1400px;
    }
  }
}

.content {
  flex: 1;
}
