.root {
  :global .usa-table {
    width: 100%;
    margin: 0;
    color: black !important;
    font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Arial,
      sans-serif;
    // font-weight: 500;
  }

  .tableInner {
    overflow-x: auto;
    border: 1px solid #dcdee0;
    border-radius: 5px;
    box-sizing: border-box;
    td,
    th {
      border: 0px solid #dcdee0;
      box-shadow: inset 0px -1px 0px #dcdee0;
      height: 60px;
    }
    input,
    select {
      height: 35px;
      border: 1px solid #dcdee0;
      box-sizing: border-box;
      border-radius: 2px;
    }
    th {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 130%;
    }
  }
}

.td {
  background-color: #f9f9f9 !important;
  border-color: white;
  text-overflow: ellipsis;
  white-space: normal;
  > div {
    max-height: 50px;
    overflow: auto;
  }
}

.subComponentTd {
  background-color: #f9f9f9;
  border-color: white;
}

.th {
  vertical-align: top;
  background-color: #f0f0f0 !important;
}
