.root {
  padding: 32px;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: #122d5d;
}
