build==0.10.0
certifi==2023.7.22
charset-normalizer==3.1.0
click==8.1.3
dateparser==1.1.8
dnstwist==20230509
docopt==0.6.2
idna==3.4
joblib==1.2.0
git+https://github.com/mitmproxy/mitmproxy@e0e46f4
mitmproxy_wireguard==0.1.23
numpy==1.24.3
pandas==2.1.4
phonenumbers==8.13.8
pip-tools==7.1.0
pipreqs==0.4.11
psycopg2-binary==2.9.5
pyproject_hooks==1.0.0
pytest==7.3.0
python-dateutil==2.8.2
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
regex==2023.3.23
requests==2.31.0
requests-http-signature==0.2.0
Scrapy==2.9.0
git+https://github.com/LeapBeyond/scrubadub.git@d0e12c5d922631af3532d044196b05fb1b7c8c1c
scikit-learn==1.2.2
six==1.16.0
threadpoolctl==3.1.0
tomli==2.0.1
trustymail @ git+https://github.com/Matthew-Grayson/trustymail@production
tzdata==2023.3
tzlocal==4.3
yarg==0.1.9
wheel==0.38.1
setuptools==65.5.1
