.pageLink {
  border-radius: 30% !important;
  text-decoration: none !important;
  margin: 0 1rem !important;
  font-weight: normal !important;
  border-radius: 0 !important;
  padding-bottom: 2px !important;
}

.isPageNumber {
  @media screen and (max-width: 640px) {
    display: none !important;
  }
}
.disabled {
  color: lightgray !important;
  cursor: default !important;
}

.currentPage {
  font-weight: 700 !important;
  border-bottom: 2px solid #005ea2 !important;
}
