@import '~@trussworks/react-uswds/lib/index.css';
$theme-font-path: '~uswds/dist/fonts';
$theme-image-path: '~uswds/dist/img';
$theme-show-notifications: false;

// Import required global packages
@import '~uswds/dist/scss/packages/required';
@import '~uswds/dist/scss/packages/global';

@import '~uswds/dist/scss/packages/uswds-utilities';
@import '~uswds/dist/scss/packages/usa-banner';
@import '~uswds/dist/scss/packages/usa-header';
@import '~uswds/dist/scss/packages/usa-table';
@import '~uswds/dist/scss/packages/usa-alert';
@import '~uswds/dist/scss/packages/form-controls';

html,
body {
  box-sizing: border-box;
  background-color: color('base-lightest');
}

.cisa-crossfeed-loading {
  display: inline-block;
  position: relative;
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  width: 80px;
  height: 80px;
}

.cisa-crossfeed-loading div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: cisa-crossfeed-loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  border: 4px solid color('base-dark');
}

.cisa-crossfeed-loading div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes cisa-crossfeed-loading {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.cisa-crossfeed-search {
  .react-autosuggest__container {
    position: relative;
    width: 100%;
  }

  .react-autosuggest__input {
    width: 100%;
  }

  .react-autosuggest__input--focused {
    outline: none;
  }

  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .react-autosuggest__suggestions-container {
    display: none;
  }

  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 32px;
    width: 100%;
    min-width: 160px;
    margin-left: 1px;
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    z-index: 2;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
  }

  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 5px 10px;
  }

  .react-autosuggest__suggestion--highlighted {
    background-color: color('primary-lighter');
  }
}
