.expandedRoot {
  width: 100%;

  h4 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .banner {
    padding: 1rem;
  }
}

.codeBlock {
  background-color: rgb(238, 238, 238);
  max-height: 300px;
  overflow: auto;
  padding: 15px;
  max-width: 1100px;
}
