.root {
  background-color: #122d5d;
  color: white;

  :global .usa-nav-container {
    // align-items: center;
    max-width: 1400px;
    padding-left: 0.5rem;

    @media screen and (min-width: 480px) {
      padding-left: 1rem;
    }
    @media screen and (min-width: 640px) {
      padding-left: 1.5rem;
    }
    @media screen and (min-width: 1024px) {
      padding: 0 2rem;
    }

    :global .usa-navbar {
      position: relative;
      border: none;
      justify-content: space-between;

      :global .usa-logo {
        margin: 1rem 0;

        @media screen and (max-width: 1024px) {
          margin: 2px 0;
        }

        .usa-logo__text {
          img {
            height: 44px;
            width: 258px;
          }
        }
      }
    }

    :global .usa-nav {
      :global .usa-nav__primary {
        :global .usa-nav__link {
          @media screen and (min-width: 1024px) {
            color: #fff;
          }
        }

        :global .usa-nav__link:hover::after,
        :global .usa-current::after {
          @media screen and (min-width: 1024px) {
            background-color: #fff;
          }
        }
      }
    }
  }
}
