/*
  These are necessary for the image and font urls referenced in the source
  files to resolve correctly.
*/
$theme-image-path: '../../node_modules/uswds/src/img';
$theme-font-path: '../../node_modules/uswds/src/fonts';

/*
  The url for the hero image in the source file is not currently prefixed by
  the $theme-image-path above.
*/

$theme-hero-image: '#{$theme-image-path}/hero.png';

$theme-show-notifications: false;

// Your custom changes to variables go here
// Uncomment to see this working
// $theme-color-primary-darker: 'black';

@import 'uswds';

// Your custom SASS/CSS goes here
@media screen and (min-width: 640px) {
  .tablet\:width-1\/3 {
    width: 33%;
  }
  .tablet\:float-left {
    float: left;
  }
}

@media screen and (min-width: 640px) {
  .paginate-link {
    display: initial;
  }
  .paginate-button {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .paginate-link {
    display: none;
  }
  .paginate-button {
    display: block;
  }
}

// Icons on front page
.icon-circle-container {
  position: relative;
  
  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-60%, -60%);
  }
}

// Code highlighting
code {
  font-size: 75% !important;
}
.gatsby-highlight > pre > code {
  padding-top: 5px;
  padding-bottom: 5px;
}