cloudwatchToS3:
  handler: src/tasks/cloudwatchToS3.handler
  timeout: 900
  events:
    - schedule: rate(4 hours)
  reservedConcurrency: 1
  memorySize: 4096

scheduler:
  handler: src/tasks/scheduler.handler
  timeout: 900
  events:
    - schedule: rate(5 minutes)
  reservedConcurrency: 1
  memorySize: 4096

syncdb:
  timeout: 900
  handler: src/tasks/syncdb.handler

pesyncdb:
  timeout: 900
  handler: src/tasks/pesyncdb.handler

bastion:
  timeout: 900
  handler: src/tasks/bastion.handler

makeGlobalAdmin:
  handler: src/tasks/makeGlobalAdmin.handler

scanExecution:
  handler: src/tasks/scanExecution.handler
  timeout: 300 # 5 minutes
  events:
    - sqs:
        arn:
          Fn::ImportValue: ${file(env.yml):${self:provider.stage}.SQS_QUEUE_ARN, ''}
        batchSize: 5 # Number of messages the lambda can continue to process while a Fargate is still running

updateScanTaskStatus:
  handler: src/tasks/updateScanTaskStatus.handler
  events:
    - eventBridge:
        name: ${self:provider.stage}-updateScanTaskStatus
        pattern:
          source:
            - aws.ecs
          detail-type:
            - ECS Task State Change
          detail:
            clusterArn:
              - ${file(env.yml):${self:provider.stage}-ecs-cluster, ''}
