.root {
  padding: 1rem;
  margin: 2rem 0;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @media screen and (min-width: 640px) {
    padding: 2rem;
  }

  .firsthalf {
    flex: 1 1 100%;

    h4 {
      margin-top: 0;
    }

    @media screen and (min-width: 1024px) {
      flex: 1 1 65%;
      padding-right: 2rem;
    }
  }

  .secondhalf {
    flex: 1 1 100%;
    padding: 2rem 0;
    line-height: 1.6rem;
    font-size: 1.2rem;

    h4 {
      margin-top: 0;
      margin-bottom: 1.2rem;
    }

    @media screen and (min-width: 1024px) {
      flex: 1 1 35%;
    }
  }

  .item {
    padding: 0.5rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 1rem;
    flex-wrap: wrap;

    @media screen and (min-width: 640px) {
      font-size: 1.2rem;
    }

    @media screen and (min-width: 1024px) {
      flex: 1 1 50%;
    }

    label {
      font-weight: bolder;
      display: flex;
      align-items: center;
      flex: 1 0 100%;
      padding: 0.5rem 0;

      @media screen and (min-width: 1024px) {
        flex: 0 0 200px;
        padding: 0;
      }
    }

    span {
      display: block;
      flex: 1 1 auto;
      word-break: break-all;
      word-wrap: break-word;
    }
  }
}

.item.altnames {
  label {
    flex: 1 0 100%;
  }

  div {
    width: 100%;
  }
}

.expandNames {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin: 0.5rem 0;
  cursor: pointer;
  border: none;
  background: transparent;

  svg {
    margin-right: 0.5rem;
  }
}
