.root {
  max-width: 1400px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    padding: 0 1rem;
  }
  @media screen and (min-width: 640px) {
    padding: 0 1.5rem;
  }
  @media screen and (min-width: 1024px) {
    padding: 0 2rem;
  }
}

.expandedRoot {
  width: 100%;

  h4 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .banner {
    padding: 1rem;
  }
}

.severity {
  &:after {
    content: '';
    position: absolute;
    display: block;
    height: 6px;
    width: 80px;
    background: #fff;
    background: repeating-linear-gradient(
      -45deg,
      #fff 25%,
      transparent 25%,
      transparent 50%,
      #fff 50%,
      #fff 75%,
      transparent 75%,
      transparent 100%
    );
    background-size: 16px 8px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-bottom: 0;
  }
}
