name: Backend Pipeline

on:
  push:
    branches:
      - master
      - production
    paths:
      - 'backend/**'
      - '.github/workflows/backend.yml'
  pull_request:
    branches:
      - master
      - production
    paths:
      - 'backend/**'
      - '.github/workflows/backend.yml'

defaults:
  run:
    working-directory: ./backend

jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.3
      - uses: actions/setup-node@v2.1.2
        with:
          node-version: '12.14'
      - name: Restore npm cache
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies
        run: PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true npm ci
      - name: Security
        run: npm audit
        continue-on-error: true
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.3
      - uses: actions/setup-node@v2.1.2
        with:
          node-version: '12.14'
      - name: Restore npm cache
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies
        run: PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true npm ci
      - name: Lint
        run: npm run lint
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v2.3.3
      - uses: actions/setup-node@v2.1.2
        with:
          node-version: '12.14'
      - name: Restore npm cache
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies
        run: PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true npm ci
      - name: Run site locally
        run: |
          cp dev.env.example .env
          docker-compose up -d db backend es
          npm install -g wait-port
          wait-port -t 3000 5432 9200 9300
        working-directory: ./
      - name: Sync database
        run: npm run syncdb
        working-directory: ./backend
      - name: Test
        run: npm run test -- --collectCoverage
  test_python:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v2.3.3
      - name: Set up Python 3.7
        uses: actions/setup-python@v2.1.4
        with:
          python-version: 3.7
      - uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: pip-${{ hashFiles('requirements.dev.txt') }}
          restore-keys: |
            pip-
      - run: pip install -r worker/requirements.txt
      - run: pytest
  build_worker:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v2.3.3
      - uses: actions/setup-node@v2.1.2
        with:
          node-version: '12.14'
      - name: Restore npm cache
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies
        run: PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true npm ci
      - name: Build worker container
        run: npm run build-worker
        working-directory: backend
        env:
          GITHUB_TOKEN: $${{ secrets.GITHUB_TOKEN }}
          USERNAME: ${{ github.repository_owner }}

  deploy:
    needs: [security, build_worker, lint, test, test_python]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/production')
    steps:
      - uses: actions/checkout@v2.3.3
      - uses: actions/setup-node@v2.1.2
        with:
          node-version: '12.14'
      - name: Restore npm cache
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies
        run: PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true npm ci
      - name: Ensure domain exists - Staging
        if: github.ref == 'refs/heads/master'
        run: npx sls create_domain --stage=staging
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}
          SLS_DEBUG: '*'

      - name: Deploy backend - Staging
        if: github.ref == 'refs/heads/master'
        run: npx sls deploy --stage=staging
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}
          SLS_DEBUG: '*'
      
      - name: Deploy worker - Staging
        if: github.ref == 'refs/heads/master'
        run: npm run deploy-worker-staging
        working-directory: backend
        env:
          GITHUB_TOKEN: $${{ secrets.GITHUB_TOKEN }}
          USERNAME: ${{ github.repository_owner }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}

      - name: Run syncdb - Staging
        if: github.ref == 'refs/heads/master'
        run: aws lambda invoke --function-name crossfeed-staging-syncdb --region us-east-1 /dev/stdout
        working-directory: backend
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}

      - name: Ensure domain exists - Production
        if: github.ref == 'refs/heads/production'
        run: npx sls create_domain --stage=prod
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}
          SLS_DEBUG: '*'

      - name: Deploy backend - Production
        if: github.ref == 'refs/heads/production'
        run: npx sls deploy --stage=prod
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}
          SLS_DEBUG: '*'

      - name: Deploy worker - Production
        if: github.ref == 'refs/heads/production'
        run: npm run deploy-worker-prod
        working-directory: backend
        env:
          GITHUB_TOKEN: $${{ secrets.GITHUB_TOKEN }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}

      - name: Run syncdb - Production
        if: github.ref == 'refs/heads/production'
        run: aws lambda invoke --function-name crossfeed-prod-syncdb --region us-east-1 /dev/stdout
        working-directory: backend
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}
