name: Backend Pipeline

on:
  push:
    branches:
      - master
      - production
    paths:
      - 'backend/**'
      - '.github/workflows/backend.yml'

  pull_request:
    branches:
      - master
      - production
    paths:
      - 'backend/**'
      - '.github/workflows/backend.yml'

defaults:
  run:
    working-directory: ./backend

jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.1
      - uses: actions/setup-node@v2.1.0
        with:
          node-version: '12.14'
      - name: Restore npm cache
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies
        run: npm ci
      - name: Security
        run: npm audit
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.1
      - uses: actions/setup-node@v2.1.0
        with:
          node-version: '12.14'
      - name: Restore npm cache
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies
        run: npm ci
      - name: Lint
        run: npm run lint
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v2.3.1
      - uses: actions/setup-node@v2.1.0
        with:
          node-version: '12.14'
      - name: Restore npm cache
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies
        run: npm ci
      - name: Run site locally
        run: |
          cp dev.env.example .env
          docker-compose up --build -d
          npm install -g wait-port
          wait-port -t 5000 80
        working-directory: ./
      - name: Sync database
        run: docker-compose exec -T backend npx sls invoke local -f syncdb -d dangerouslyforce
        working-directory: ./
      - name: Test
        run: npm run test
  build_worker:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v2.3.1
      - uses: actions/setup-node@v2.1.0
        with:
          node-version: '12.14'
      - name: Restore npm cache
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies
        run: npm ci
      - name: Run site locally
        run: docker build -t crossfeed-worker -f Dockerfile.worker .
        working-directory: ./backend
  deploy:
    needs: [security, build_worker, lint, test]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/production')
    steps:
      - uses: actions/checkout@v2.3.1
      - uses: actions/setup-node@v2.1.0
        with:
          node-version: '12.14'
      - name: Restore npm cache
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies
        run: npm ci
      - name: Ensure domain existis - Staging
        if: github.ref == 'refs/heads/master'
        run: npx sls create_domain --stage=staging
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}
          SLS_DEBUG: '*'

      - name: Deploy backend - Staging
        if: github.ref == 'refs/heads/master'
        run: npx sls deploy --stage=staging
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}
          SLS_DEBUG: '*'

      - name: Ensure domain existis - Production
        if: github.ref == 'refs/heads/production'
        run: npx sls create_domain --stage=prod
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}
          SLS_DEBUG: '*'

      - name: Deploy backend - Production
        if: github.ref == 'refs/heads/production'
        run: npx sls deploy --stage=prod
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}
          SLS_DEBUG: '*'
