name: Docs
on:
  push:
    branches:
      - master
    paths:
      - "docs/**"
      - ".github/workflows/docs.yml"
  pull_request:
    branches:
      - master
    paths:
      - "docs/**"
      - ".github/workflows/docs.yml"

jobs:
  build:
    name: Build docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.2
      - uses: actions/setup-ruby@v1.1.1
        with:
          ruby-version: "2.6"
      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: gems-${{ hashFiles('**/docs/Gemfile.lock') }}
          restore-keys: |
            gems-
      - run: bundle config path vendor/bundle
      - run: gem install bundler:2.1.4
      - run: bundle install --jobs 4 --retry 3
        working-directory: ./docs
      - run: bundle exec jekyll build
        working-directory: ./docs
        env:
          JEKYLL_ENV: production
      - run: echo "docs.crossfeed.cyber.dhs.gov" >> docs/_site/CNAME
      - name: Deploy to GitHub Pages
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        uses: crazy-max/ghaction-github-pages@v2.1.2
        with:
          keep_history: true
          target-branch: gh-pages
          build_dir: docs/_site
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
