name: Frontend Pipeline

on:
  push:
    branches:
      - master
      - production
    paths:
      - 'frontend/**'
      - '.github/workflows/frontend.yml'
  pull_request:
    branches:
      - master
      - production
    paths:
      - 'frontend/**'
      - '.github/workflows/frontend.yml'

defaults:
  run:
    working-directory: ./frontend

jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.3
      - uses: actions/setup-node@v2.1.1
        with:
          node-version: '12.14'
      - name: Restore npm cache
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies
        run: npm ci
      - name: Security
        run: npm audit
        continue-on-error: true
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.3
      - uses: actions/setup-node@v2.1.1
        with:
          node-version: '12.14'
      - name: Restore npm cache
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies
        run: npm ci
      - name: Lint
        run: npm run lint
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v2.3.3
      - uses: actions/setup-node@v2.1.1
        with:
          node-version: '12.14'
      - name: Restore npm cache
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Test
        run: npm run test
  deploy:
    needs: [security, lint, test]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/production')
    steps:
      - uses: actions/checkout@v2.3.3
      - uses: actions/setup-node@v2.1.1
        with:
          node-version: '12.14'
      - name: Restore npm cache
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies
        run: npm ci
      - name: Build Staging
        if: github.ref == 'refs/heads/master'
        run: npm run build
        env:
          REACT_APP_API_URL: https://api.crossfeed.dds.mil
          REACT_APP_FARGATE_LOG_GROUP: crossfeed-staging-worker
          REACT_APP_USE_COGNITO: 1
          REACT_APP_USER_POOL_ID: us-east-1_dLLtUPzKO
          REACT_APP_USER_POOL_CLIENT_ID: 3jj7j9fqhu3fm6bf05p8jlptne
          REACT_APP_TERMS_VERSION: 1

      - name: Build Production
        if: github.ref == 'refs/heads/production'
        run: npm run build
        env:
          REACT_APP_API_URL: https://api.crossfeed.cyber.dhs.gov
          REACT_APP_FARGATE_LOG_GROUP: crossfeed-prod-worker
          REACT_APP_USE_COGNITO: 1
          REACT_APP_USER_POOL_ID: us-east-1_dLLtUPzKO
          REACT_APP_USER_POOL_CLIENT_ID: 3jj7j9fqhu3fm6bf05p8jlptne
          REACT_APP_TERMS_VERSION: 1

      - name: Deploy Staging
        if: github.ref == 'refs/heads/master'
        run: aws s3 sync build s3://crossfeed.dds.mil --delete
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}

      - name: Deploy Production
        if: github.ref == 'refs/heads/production'
        run: aws s3 sync build s3://crossfeed.cyber.dhs.gov --delete
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_KEY }}
